<div class="row">
  <div class="col">
    <h2>Projeto #<%= @project.id %></h2>
    <p>
      <strong>Name:</strong>
      <%= @project.name %>
    </p>

    <p>
      <strong>Url:</strong>
      <%= @project.url %>
    </p>

    <%= link_to 'Editar', edit_project_path(@project) %> |
    <%= link_to 'Voltar', projects_path %>
  </div>
</div>
